@model E_waste.Areas.Identity.Data.Product

@{
    ViewData["Title"] = "Reservation Confirmation";
}

<div class="container mt-5">
    <h1>Reservation Confirmation</h1>
    <p>Thank you for reserving the product.</p>
    <p>Product Name: @Model.Name</p>
    <p>Email: @Model.ContactNumber</p>
    <h1>Please contact the owner to make collection arrangement.</h1>
    <!-- Add any additional information or styling as needed. -->
</div>

